html {
    /* color foundation */
    --cf-hue: 600;
    --cf-sat: 100%;
    --cf-light: 50%;

    /* light */
    --cp-light: hsl(var(--cf-hue) var(--cf-sat) var(--cf-light));
    --text1-light: hsl(var(--cf-hue) var(--cf-sat) 10%);
    --text2-light: hsl(var(--cf-hue) 30% 30%);
    --sf1-light: hsl(var(--cf-hue) 25% 90%);
    --sf2-light: hsl(var(--cf-hue) 20% 99%);
    --sf3-light: hsl(var(--cf-hue) 20% 92%);
    --sf4-light: hsl(var(--cf-hue) 20% 85%);
    --sf-shadow-light: var(--cf-hue) 10% 20%;
    --shadow-strength-light: .02;

    /* dark */
    --cp-dark: hsl(var(--cf-hue) calc(var(--cf-sat) / 2) calc(var(--cf-light) / 1.5));
    --text1-dark: hsl(var(--cf-hue) 15% 85%);
    --text2-dark: hsl(var(--cf-hue) 5% 65%);
    --sf1-dark: hsl(var(--cf-hue) 10% 10%);
    --sf2-dark: hsl(var(--cf-hue) 10% 15%);
    --sf3-dark: hsl(var(--cf-hue) 5% 20%);
    --sf4-dark: hsl(var(--cf-hue) 5% 25%);
    --sf-shadow-dark: var(--cf-hue) 50% 3%;
    --shadow-strength-dark: .8;

    /* dim */
    --brand-dim: hsl(var(--cf-hue) calc(var(--cf-sat) / 1.25) calc(var(--cf-light) / 1.25));
    --text1-dim: hsl(var(--cf-hue) 15% 75%);
    --text2-dim: hsl(var(--cf-hue) 10% 61%);
    --sf1-dim: hsl(var(--cf-hue) 10% 20%);
    --sf2-dim: hsl(var(--cf-hue) 10% 25%);
    --sf3-dim: hsl(var(--cf-hue) 5% 30%);
    --sf4-dim: hsl(var(--cf-hue) 5% 35%);
    --sf-shadow-dim: var(--cf-hue) 30% 13%;
    --shadow-strength-dim: .2;
}

:root {
    color-scheme: light;

    /* set defaults */
    --brand: var(--cp-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --sf1: var(--sf1-light);
    --sf2: var(--sf2-light);
    --sf3: var(--sf3-light);
    --sf4: var(--sf4-light);
    --sf-shadow: var(--sf-shadow-light);
    --shadow-strength: var(--shadow-strength-light);


    /* Special Effects Light Mode*/
    --shadow-inset:
        inset 2px 2px 5px #b8b9be,
        inset -2px -2px 5px #FFFFFF;
    --shadow-soft:
        6px 6px 12px #b8b9be,
        -6px -6px 12px #FFFFFF;
    --shadow-soft2:
        3px 3px 6px #b8b9be,
        -3px -3px 6px #FFFFFF;

    --bdcolor: 1px solid hsl(var(--base-hue) 10% 50% / 15%);


}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;

        --brand: var(--cp-dark);
        --text1: var(--text1-dark);
        --text2: var(--text2-dark);
        --sf1: var(--sf1-dark);
        --sf2: var(--sf2-dark);
        --sf3: var(--sf3-dark);
        --sf4: var(--sf4-dark);
        --sf-shadow: var(--sf-shadow-dark);
        --shadow-strength: var(--shadow-strength-dark);
    }
}

[color-scheme="light"] {
    color-scheme: light;

    --brand: var(--cp-light);
    --text1: var(--text1-light);
    --text2: var(--text2-light);
    --sf1: var(--sf1-light);
    --sf2: var(--sf2-light);
    --sf3: var(--sf3-light);
    --sf4: var(--sf4-light);
    --sf-shadow: var(--sf-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
    color-scheme: dark;

    --brand: var(--cp-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --sf1: var(--sf1-dark);
    --sf2: var(--sf2-dark);
    --sf3: var(--sf3-dark);
    --sf4: var(--sf4-dark);
    --sf-shadow: var(--sf-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
    color-scheme: dark;

    --brand: var(--brand-dim);
    --text1: var(--text1-dim);
    --text2: var(--text2-dim);
    --sf1: var(--sf1-dim);
    --sf2: var(--sf2-dim);
    --sf3: var(--sf3-dim);
    --sf4: var(--sf4-dim);
    --sf-shadow: var(--sf-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
}

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    block-size: 100%;
    background-color: var(--sf1);
    color: var(--text1);
}

body {
    min-block-size: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "nav content aside"
        "footer footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 10px;
    height: 100vh;
    margin: 0;
}

header {
    grid-area: header;
    background: var(--sf1);
    padding: 10px;
    text-align: center;
}

nav {
    grid-area: nav;
    background: var(--sf4);
    box-shadow: var(--shadow-inset);
    padding: 10px;
}

main {
    grid-area: content;
    background: var(--sf3);
    padding: 10px;
}

aside {
    grid-area: aside;
    background: var(--sf4);
    box-shadow: var(--shadow-soft2);
    padding: 10px;
}

footer {
    grid-area: footer;
    background: var(--sf1);
    padding: 10px;
    text-align: center;
}

section {
    display: grid;
    gap: 2.5vh;
}

h1 {
    font-weight: 100;
}

p {
    max-inline-size: 35ch;
    font-size: 1.25rem;
    line-height: 1.5;
}

.surface1 {
    background-color: var(--sf1);
    color: var(--text2);
}

.surface2 {
    background-color: var(--sf2);
    color: var(--text2);
}

.surface3 {
    background-color: var(--sf3);
    color: var(--text1);
}

.surface4 {
    background-color: var(--sf4);
    color: var(--text1);
}

.text1 {
    color: var(--text1);
}

.text2 {
    color: var(--text2);
}

.rad-shadow {
    border: var(--bdcolor);
    box-shadow: var(--shadow-inset);
}

.surface-samples > div {
    padding: 2.5vw;
    margin-bottom: 15px;
}